.timeline {
    display: flex;
    flex-direction: column;
}

.timeline .line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.timeline .line .version-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline .line .version-container .version {
    box-sizing: content-box
}